/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.brand-logo{
  /* color: #26a69a!important; */
  animation: color-change 1s infinite;
}
@keyframes color-change {
  0% { color: rgba(253,187,45,1); }
  25% { color: white; }
  50% { color: #26a69a; }
  100% { color: rgba(253,187,45,1); }
}

.nav-wrapper{
  width: auto!important;
  padding: 0px 15px;
}


p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
  #logo-container{
    width: 100%;
  }
  #addIcon{
    margin-top: 3rem;
    }
    .profilePic{
      margin-left: 11rem;
    }
    .sidenav-trigger{
      margin-right: 0!important;
    }
    .brand-logo{
      margin-left: 10px;
    }
  
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  #addIcon{
    margin-top: 3rem;
    }
    .profilePic{
      margin-left: 20rem;
    }
    .sidenav-trigger{
      margin-right: 0!important;
    }
    .brand-logo{
      margin-left: 10px;
    }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
  background: rgb(22, 22, 22)!important;
  /* text-align: center; */
}

.carousel .carousel-item {
width:550px !important;
height:400px !important;
border: solid 5pt black;
text-align: center;
background-color: black;
color: white;
font-weight: bold;
font-size: 14pt;

}

body{
  background: rgba(31, 29, 29, 0.12)!important;
}
nav{
  border-bottom: solid 2pt white !important;
}

.parallax-container {
  height: 500px!important;
}

.logos{
  height: 50px;
}
.logos:hover{
  transform: scale(1.1);
}

#gitHubLogo{
  margin-top: -1rem;
}

.resLogo{
height: 70px;
}

.resLogo:hover{
  transform: scale(1.1);
}

#deployedBtn:hover{
transform: scale(1.1);
color: rgb(6, 179, 223)!important;
}

#gitHubBtn:hover{
  transform: scale(1.1);
  color: rgb(6, 179, 223)!important;
  }

  h3{
    font-family: 'Fondamento', cursive;
  }

a:hover{
  color: rgb(82, 82, 241);
  transform: scale(1.1);
}

 .tealColor{
  color: #26a69a;
  font-family: 'Love Ya Like A Sister';
  font-size: 2rem;
}

.madeBy{
  color: #26a69a;
}

.contactIcon{
  background-image: -webkit-linear-gradient(left,  #2b2929, #585858, #E0F8F7 ); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(left, #2b2929, #585858, #E0F8F7 ); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(left,  #2b2929, #585858, #E0F8F7  ); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(left,  #2b2929, #585858, #E0F8F7  ); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to right,  #2b2929, #585858, #E0F8F7  ); /* Standard syntax; must be last */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.sideNavImg{
  position: static;
width: 155px;
height: 155px;
object-fit: cover;
object-position:1% 1%;
margin-left: 23.5%;
margin-top: 1rem;
}
.backgroundd{
  position: absolute;
  width: 300px;
  height: 185px;
  z-index: -1;
}
.listItems{
  margin-top: 1rem;
  /* min-height: 50%; */
}
.footer {
  position: absolute;
  height: 50px;
  bottom: 60px;
  width: 100%;
  text-align: center;
  background-image: url('../images/prism.png');
}

.footerText{
  color: rgb(211, 206, 206);
  margin-top: 5%;
}
    